/* FONTS */
@font-face {
    font-family: 'holberton_school-icon';
    src:  url('fonts/holberton_school-icon.eot?sq4eq4');
    src:  url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
      url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
      url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
      url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="holberton_school-icon-"], [class*=" holberton_school-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'holberton_school-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .holberton_school-icon-arrow_1:before {
    content: "\e900";
  }
  .holberton_school-icon-arrow_2:before {
    content: "\e901";
  }
  .holberton_school-icon-arrow_3:before {
    content: "\e902";
  }
  .holberton_school-icon-arrow_4:before {
    content: "\e903";
  }
  .holberton_school-icon-arrow_5:before {
    content: "\e904";
  }
  .holberton_school-icon-check:before {
    content: "\e905";
  }
  .holberton_school-icon-ic_bag:before {
    content: "\e906";
  }
  .holberton_school-icon-ic_cart:before {
    content: "\e907";
  }
  .holberton_school-icon-ic_facebook:before {
    content: "\e908";
  }
  .holberton_school-icon-ic_hearing:before {
    content: "\e909";
  }
  .holberton_school-icon-ic_instagram:before {
    content: "\e90a";
  }
  .holberton_school-icon-ic_laptop:before {
    content: "\e90b";
  }
  .holberton_school-icon-ic_money:before {
    content: "\e90c";
  }
  .holberton_school-icon-ic_music:before {
    content: "\e90d";
  }
  .holberton_school-icon-ic_sound:before {
    content: "\e90e";
  }
  .holberton_school-icon-ic_twitter:before {
    content: "\e90f";
  }
  .holberton_school-icon-ic_video:before {
    content: "\e910";
  }
  .holberton_school-icon-menu:before {
    content: "\e911";
  }
  .holberton_school-icon-search_1:before {
    content: "\e912";
  }
  .holberton_school-icon-search_2:before {
    content: "\e913";
  }
  .holberton_school-icon-star:before {
    content: "\e914";
  }
  
  @font-face {
      font-family: 'SSP reg';
      src: url(fonts/source_sans_pro/SourceSansPro-Regular.otf);
  }

  /* LAYOUT */

  
body {
    margin: 0px;
    background-color: #071629;
}

p {
    font-family: 'SSP reg';
}
/*HEADER SECTION*/
.headcontainer {
    background-image: url('images/headphones_hero_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 800px;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  padding-top: 60px;
  margin-bottom: -85px;
}

.burger {
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background: #FFFFFF;
  transition: all .5s ease-in-out;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  background: #FFFFFF;
  transition: all .5s ease-in-out;
}

.burger::before {
  transform: translateY(-8px);
}

.burger::after {
  transform: translateY(8px);
}

/* BURGER ANIMATION */
.menu-btn.open .burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .burger::after {
  transform: rotate(-45deg) translate(35px, 35px)
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 290px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'SSP reg';
}

header a {
    font-size: 12px;
    font-family: 'SSP reg';
}

header a:active, header a:hover {
    color: #ff6565;
}
.nav {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
color: white;
margin-top: 26px;
margin-right: 100px;
}

.nav a {
    margin: 10px;
}

header img {
    height: 31px;
    width: 160px;
margin-top: 26px;
    margin-left: 100px;

}
/*MAIN SECTIONS*/

.container {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'SSP reg';
    max-width: 630px;
    text-align: center;
    color: white;
}

.intro h1 {
    margin-bottom: -17px;
}

.intro h3 {
    font-size: 16px;
}

.intro button {
    margin: 40px;
    background-color: #ff6565;
    border-image: none;
    border-width: 0;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    font-family: 'SSP reg';
}

.intro button:hover, .intro button:active {
    opacity: 0.8;
}

.intro p {
    line-height: 26px;
    padding-bottom: 80px;
    font-size: 16px;
}
@media (max-width: 760px) {

    .headcontainer {
        background-position-x: 35%;
        background-position-y: 40%;
        background-size: 400%;
    }

    .nav {
        visibility: hidden;
    }

    .nav.appear {
      visibility: visible;
      flex-direction: column;
      margin-right: 0;
    }
    
    header {
        flex-direction: column;
    }

    header img {
        margin-left: 0px;
    }

    h1 {
        margin-left: 20px;
        margin-right: 20px;
    }

    p {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
    }

    .intro button {
    margin-top: 10px;
    }
}
