/* FONTS */

@font-face {
    font-family: 'holberton_school-icon';
    src:  url('fonts/holberton_school-icon.eot?sq4eq4');
    src:  url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
      url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
      url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
      url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="holberton_school-icon-"], [class*=" holberton_school-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'holberton_school-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .holberton_school-icon-arrow_1:before {
    content: "\e900";
  }
  .holberton_school-icon-arrow_2:before {
    content: "\e901";
  }
  .holberton_school-icon-arrow_3:before {
    content: "\e902";
  }
  .holberton_school-icon-arrow_4:before {
    content: "\e903";
  }
  .holberton_school-icon-arrow_5:before {
    content: "\e904";
  }
  .holberton_school-icon-check:before {
    content: "\e905";
  }
  .holberton_school-icon-ic_bag:before {
    content: "\e906";
  }
  .holberton_school-icon-ic_cart:before {
    content: "\e907";
  }
  .holberton_school-icon-ic_facebook:before {
    content: "\e908";
  }
  .holberton_school-icon-ic_hearing:before {
    content: "\e909";
  }
  .holberton_school-icon-ic_instagram:before {
    content: "\e90a";
  }
  .holberton_school-icon-ic_laptop:before {
    content: "\e90b";
  }
  .holberton_school-icon-ic_money:before {
    content: "\e90c";
  }
  .holberton_school-icon-ic_music:before {
    content: "\e90d";
  }
  .holberton_school-icon-ic_sound:before {
    content: "\e90e";
  }
  .holberton_school-icon-ic_twitter:before {
    content: "\e90f";
  }
  .holberton_school-icon-ic_video:before {
    content: "\e910";
  }
  .holberton_school-icon-menu:before {
    content: "\e911";
  }
  .holberton_school-icon-search_1:before {
    content: "\e912";
  }
  .holberton_school-icon-search_2:before {
    content: "\e913";
  }
  .holberton_school-icon-star:before {
    content: "\e914";
  }
  
  @font-face {
      font-family: 'SSP reg';
      src: url(fonts/source_sans_pro/SourceSansPro-Regular.otf);
  }

  @font-face {
    font-family: 'SSP light';
    src: url(fonts/source_sans_pro/SourceSansPro-Light.otf);
}

  /* LAYOUT */

  
body {
    margin: 0px;
    background-color: #071629;
}

p {
    font-family: 'SSP reg';
}
/*HEADER SECTION*/
.headcontainer {
    background-image: url('images/headphones_hero_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 800px;
}



header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 290px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'SSP reg';
}

header a {
    font-size: 12px;
    font-family: 'SSP reg';
}

header a:active, header a:hover {
    color: #ff6565;
}

.nav {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
color: white;
margin-top: 26px;
margin-right: 100px;
}

.nav a {
    margin: 10px;
}

header img {
    height: 31px;
    width: 160px;
    margin-top: 26px;
    margin-left: 100px;

}
/*MAIN SECTIONS*/

.container {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'SSP reg';
    max-width: 630px;
    text-align: center;
    color: white;
}

.intro h1 {
    margin-bottom: -17px;
}

.intro h3 {
    font-size: 16px;
}

button {
    margin: 40px;
    background-color: #ff6565;
    border-image: none;
    border-width: 0;
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    font-family: 'SSP reg';
    max-width: 160px;
}

button:hover, .intro button:active {
    opacity: 0.8;
}

.intro p {
    line-height: 26px;
    padding-bottom: 80px;
    font-size: 16px;
}
@media (max-width: 480px) {

    .headcontainer {
        margin-bottom: 90px;
        background-position-x: 35%;
        background-position-y: 40%;
        background-size: 400%;
    }

    .nav {
        visibility: hidden;
    }
    
    header {
        flex-direction: column;
    }

    header img {
        margin-left: 0px;
    }

    h1 {
        margin-left: 20px;
        margin-right: 20px;
    }

    p {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
    }

    .intro button {
    margin-top: 10px;
    }
}

/* WHAT WE DO SECTION */
.flexwwd {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'SSP reg';
    text-align: center;

}

.wwdtext {
    max-width: 630px;
    line-height: 26px;
}

.wwdblock {
    background-color: white;
    padding-bottom: 90px;
}

.wwditem {
    height: 180px;
    max-width: 200px;
    margin-left: 25px;
    margin-right: 35px;
}

.flexwwdrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.wwditem span {
    font-family: 'holberton_school-icon';
    font-weight: normal;
    font-style: normal;
    font-size: 94px;
    margin: 0px;
    color: #ff6565;
}

.wwditem h5 {
    margin-top: 0px;
}

.wwditem p {
    margin-top: 0px;
    line-height: 26px;
    font-size: 14px;
    font-family: 'SSP reg';
}

.wwdtext h1 {
    margin-top: 90px;
    margin-bottom: 30px;
    font-size: 32px;
}

.wwdtext p {
    margin-bottom: 50px;
}

@media (max-width: 769px) {
    .flexwwdrow {
        justify-content: space-around;
        margin-right: 60px;
        margin-left: 40px;
    }
}

@media (max-width: 400px) {
    .flexwwdrow {
        margin-right: 40px;
    }
}

/* RESULTS SECTION */

.flexresults {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'SSP reg';
    text-align: center;
    background-image: url(images/headphones_hero_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    color: #FFFFFF;
    padding-bottom: 90px;
}

.resultstext {
    max-width: 630px;
    line-height: 26px;
}
    
.resultstext h1 {
    margin-top: 90px;
    margin-bottom: 30px;
    font-size: 32px;
    }
    
.resultstext p {
    margin-bottom: 50px;
    }

    .flexresultsrow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .resultitem {
            height: 190px;
            width: 190px;
            margin-left: 25px;
            margin-right: 35px;
            background-image: url(images/pentagone.png);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
    }

    .resultitem h1 {
        margin-top: 60px;
        font-size: 42px;
        margin-bottom: 15px;
    }

    @media (max-width: 769px) {
        .flexresultsrow {
            justify-content: space-around;
            margin-right: 60px;
            margin-left: 40px;
        }
    }
    
    @media (max-width: 400px) {
        .flexresultsrow {
            margin-right: 40px;
        }

        .resultitem {
            margin-top: 40px;
        }

        .flexresults {
            margin-bottom: 90px;
            background-position-y: 0;
            background-size: 400%;
        }
    }
/*CONTACT SECTION */

    .flexcontact {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'SSP reg';
        text-align: center;
        background-color: white;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form input {
        border: none;
        border-bottom: 2px solid lightgrey;
        color: black;
        padding-right: 125px;
        margin-top: 30px;
    }

    form input::placeholder {
        color: black;
        font-family: 'SSP reg';
    }

    .flexcontact h1 {
        margin-top: 75px;
    }

    form button {
        margin-top: 50px;
        margin-bottom: 100px;
    }

/* SECTION FOOTER */

footer {
    height: 250px;
    max-width: 1400px;
    margin-left: 200px ;
}

.footercontainer {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    height: 250px;
    max-width: 1000px;
    color: #291b1b;
}

footer #logo {
    height: 31px;
    width: 160px;
    margin-top: 26px;
}

footer p {
    font-family: 'SSP light';
    align-self:flex-end;
    color: #FFFFFF;
    opacity: 50%;
    font-weight:100;
}

footer .footerSoc{
    width: 130px;
}

.footerSoc span {
    font-family: 'holberton_school-icon';
    font-size: 40px;
    color: #FFFFFF;
}

@media (max-width: 400px) {
    .footercontainer {
        display: flex;
        flex-direction: column;
    }

    .footercontainer p {
        align-self: center;
        order: 3;
    }
}
